@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: linear-gradient(to bottom right,#fce7f3,#fef9c3,#bfdbfe);
  --color-foreground: var(--foreground);
  --font-sans: sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom right,#fce7f3,#fef9c3,#bfdbfe);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
